extends base.pug

block scripts
    script(src="../static/index.js")


block style
    style
        include ../static/style.css

block content
    #table
        h1.heading.add-heading Your saved address
        table.table
            thead
                tr
                    th Name
                    th Pin
                    th Address line-1
                    th Landmark
                    th City
                    th State
                    th Country
                    th Phone No.
            tbody
                each detail in details ? detail:[]
                    each add in details
                        tr
                            td #{detail.name}
                            td #{detail.pin}
                            td #{detail.Street}
                            td #{detail.landark}
                            td #{detail.city}
                            td #{detail.state}
                            td #{detail.country}
    
            


